<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="status_user == 'update'">
        <h2 style="text-align: center;">Cambios en imformacion de la cuenta</h2>
      </ion-col>
      <ion-col size="12" *ngIf="status_user != 'update'">
        <h2 style="text-align: center;">Nescesitamos verificar su cuenta</h2>
      </ion-col>
      <ion-col size="12" *ngIf="status_user == 'update'">
        <p style="text-align: center; color: rgb(131, 131, 131);">Una vez realizado los cambios, no se podran revertir</p>
      </ion-col>
      <ion-col size="12" *ngIf="status_user != 'update'">
        <p style="text-align: center; color: rgb(131, 131, 131);">A Continuacion debera llenar los siguientes campos y le enviaremos un correo de verificacion a la siguiente direccion: <strong>{{userEmail}}</strong></p>
      </ion-col>
      <ion-col size="12">
        <ion-avatar style="margin: 30px auto; border: 3px solid #000;width: 100px; height: 100px;">
          <img src="{{image_avatar}}" alt="">
          <button class="img-add-btn"><label for="input_file">+</label></button>
          <input type="file" name="file_img" id="input_file" style="display: none;" (change)="addImgUser($event)">
        </ion-avatar>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="update_currentUser" (ngSubmit)="verifyUser()">
          <div class="input-text">
            <ion-input placeholder="Ingrese su nombre" formControlName="user_firtsName"></ion-input>
          </div>
          <div class="input-text">
            <ion-input placeholder="Ingrese su apellido" formControlName="user_lastName"></ion-input>
          </div>
          <ion-button expand="block" shape="round" style="margin: 30px auto;" type="submit" *ngIf="status_user != 'update'">Verificar cuenta</ion-button>
          <ion-button expand="block" shape="round" style="margin: 30px auto;" *ngIf="status_user == 'update'" (click)="updateUser()">Actualizar datos</ion-button>
        </form>
        <ion-button shape="round" expand="block" color="danger" (click)="dismiss()">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
