.income-header {
    display: block;
    padding: 18px;
    .title {
        margin: 18px auto;
        ion-title {
            position: static;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
        }
    }
    .sub-title {
        margin: auto;
        text-align: center;
        ion-text {
            color: #ccc;
        }
    }
}

.income-content {
    ion-label {
        margin: 0px 6px;
        font-size: 18px;
        font-weight: 400;
    }

    ion-input {
        border: 1px solid #ccc;
        border-radius: 15px;
        margin: 18px 0px;
    }

    ion-textarea {
        border: 1px solid #ccc;
        border-radius: 15px;
        margin: 18px 0px;
    }

    .input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .input-calendar {
        padding: 6px;
        border-radius: 15px;
        border: 1px solid #ccc;
        margin-top: 15px;

        ion-icon {
            font-size: 27px;
        }

        ion-datetime {
            color: rgb(71, 71, 71);
            font-size: 15px;
        }
    }

    .input-select {
        padding: 6px;
        border-radius: 15px;
        border: 1px solid #ccc;
        ion-select {
            color: rgb(71, 71, 71);
            font-size: 15px;
        }
    }

    .input-toggle {
        padding: 6px;
        border-radius: 15px;
        border: 1px solid #ccc;
    }

    .added {
        padding: 12px;
        border-radius: 15px;
        border: 1px solid rgb(21, 216, 167);
        justify-content: start;
        transition: all 0.3s;
        ion-icon {
            font-size: 24px;
            margin-right: 6px;
            color: rgb(0, 255, 128);
        }
        label {
            cursor: pointer;
            font-size: 18px;
            color: rgb(0, 255, 76);
        }
    }

    .input-file {
        border-radius: 15px;
        border: 1px solid #ccc;
        justify-content: start;
        transition: all 0.3s;
        label {
            cursor: pointer;
            font-size: 18px;
            color: #ccc;
            padding: 9px;
            display: flex;
            overflow: auto;

            ion-icon {
                align-self: center;
                font-size: 24px;
                margin-right: 6px;
                color: #ccc;
            }
        }
    } 
    .input-file:active {
        border: 1px solid rgb(82, 201, 136);
    } 

    .input-photo {
        padding: 12px;
        margin-bottom: 0px;
        border-radius: 15px;
        border: 1px solid #ccc;
        justify-content: start;
        ion-icon {
            font-size: 24px;
            margin-right: 6px;
            color: #ccc;
        }

    }

    .cancel-button {
        position: relative;
        left: 90%;
        top: 24px;
        width: 36px;
        height: 36px;
        border: 3px solid rgb(255, 0, 0);
        border-radius: 50%;
        padding-top: 6px;
        color: rgb(255, 0, 0);
        background: #fff;
        text-align: center;
        font-weight: bold;
    }

    .img {
        margin: 0px auto;
        padding: 12px;
        border-radius: 15px;
        border: 1px solid #ccc;
        justify-content: center;
    }

    .input-button {
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
        ion-button {
            width: 45%;
            font-size: 15px;
        }
    }
}