<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="income-header">
        <div class="title" *ngIf="data_expense == 'empty'">
          <ion-title>Nuevo egreso</ion-title>
        </div>
        <div class="title" *ngIf="data_expense != 'empty'">
          <ion-title>Editar egreso</ion-title>
        </div>
        <div class="sub-title" *ngIf="data_expense == 'empty'">
          <ion-text>
            Aqui puede registrar cualquier pasivo que haya recibido
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="12" class="income-content">
        <form [formGroup]="new_expense" (ngSubmit)="addNewExpense()">
          <ion-label>Nombre del egreso</ion-label>
          <ion-input placeholder="  Escriba el nombre del ingreso" formControlName="expense_name"></ion-input>
          <ion-label>Descripcion</ion-label>
          <ion-textarea placeholder="  Describa de que se trata el egreso..." rows="6" cols="20" formControlName="expense_description"></ion-textarea>
          <ion-label>Monto</ion-label>
          <ion-input placeholder="  Escriba la cantidad a gastar" type="number" formControlName="expense_ammount"></ion-input>
          <ion-label>Fecha de pago</ion-label>
          <div class="input input-calendar">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-datetime slot="end" displayFormat="DD/MM/YYYY" max="2030-12-30" value="11/04/2021" isplay-timezone="utc"  formControlName="expense_dateReceive"></ion-datetime>
          </div>

          <div class="input input-select">
            <ion-label>Cuenta origen</ion-label>
            <ion-select value="default" okText="Aceptar" cancelText="Cancelar" formControlName="expense_accountDestine">
              <ion-select-option value="default">Seleccione una cuenta</ion-select-option>
              <ion-select-option *ngFor="let item of accountItems" value="{{item.id}}">{{item.data.name_account}}</ion-select-option>
            </ion-select>
          </div>

          <div class="input input-toggle">
            <ion-label>Pago realizado</ion-label>
            <ion-toggle color="secondary" formControlName="expense_status"></ion-toggle>
          </div>

          <div class="input input-photo">
            <ion-icon name="camera-outline"></ion-icon>
            <ion-buttons>
              <ion-button (click)="addPhotoToGallery()">Tomar foto como evidencia</ion-button>
            </ion-buttons>
          </div>
  <!-- 
          <div class="input input-file">
            <label for="file_add"><ion-icon name="document-outline"></ion-icon>{{file_name}}</label>
            <input type="file" id="file_add" style="display:none;" (change)="fileChange($event)">
          </div> -->

          <div class="cancel-button" (click)="cancelPhoto()" *ngIf="this.photo_service.photos != null">
            X
          </div>

          <div class="input img" *ngIf="this.photo_service.photos != null">
            <div class="img-col" *ngFor="let photo of photo_service.photos; index as position">
              <ion-img [src]="photo.webviewPath"></ion-img>
            </div>
          </div>

          <div class="input-button" *ngIf="data_expense == 'empty'">
            <ion-button shape="round" type="submit">Guardar Egreso</ion-button>
            <ion-button color="danger" shape="round" (click)="dismiss()">Cancelar Egreso</ion-button>
          </div>

          <div class="input-button" *ngIf="data_expense != 'empty'">
            <ion-button shape="round" type="submit">Guardar Cambios</ion-button>
            <ion-button color="danger" shape="round" (click)="dismiss()">Cancelar</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
