<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/expense']">
      <ion-button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Dettalle del egreso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="income-detail-content">
        <ion-title>{{expense_object.expense_name}}</ion-title>
        <ion-list>
          <ion-item><ion-label>Fecha estimada de pago:</ion-label>{{expense_object.expense_dateReceive}}</ion-item>
          <ion-item><ion-label>Monto estimado:</ion-label>${{expense_object.expense_ammount}}</ion-item>
          <ion-item><ion-label>Cuenta origen:</ion-label>
            <p *ngIf="expense_object.expense_accountDestine != null">{{expense_object.expense_accountDestine}}</p>
            <p *ngIf="expense_object.expense_accountDestine == null">Dinero en efectivo</p>
          </ion-item>
          <ion-item><ion-label>Estado de cobro:</ion-label> 
            <strong *ngIf="!expense_object.expense_status" style="color: rgb(255, 198, 52);">Pendiente</strong> 
            <strong *ngIf="expense_object.expense_status" style="color: rgb(0, 255, 170);">Pagado</strong> 
          </ion-item>
          <div class="description">
            <ion-label>Descripcion</ion-label>
            <ion-text>
              {{expense_object.expense_description}}
            </ion-text>
          </div>
          <div class="file_evidene">
            <ion-label>Imagen evidencia</ion-label>
            <div class="content-success" *ngIf="expense_object.expense_file != null">
              <!-- <div class="link">
                <ion-icon name="document" color="success"></ion-icon>
                <a target="_blank" href="{{expense_object.expense_file}}">Ver archivo evidencia</a>
              </div> -->
              <div class="image">
                <ion-img [src]="expense_object.expense_file"></ion-img>
              </div>
            </div>
            <div class="content-error" *ngIf="expense_object.expense_file == null">
              <ion-text>
                El documento no contiene algun archivo como evidencia
              </ion-text>
            </div>
          </div>
        </ion-list>        
      </ion-col>
      <ion-col size="12">
        <ion-button *ngIf="!expense_object.expense_status" color="success" expand="full" (click)="expenseSuccess()">Pagar egreso</ion-button> 
        <!-- <ion-button color="primary" expand="full">Editar imformacion de egreso</ion-button>   -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
