<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline" color="primary"></ion-icon>
      <ion-label color="primary">Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my-money">
      <ion-icon name="wallet-outline" color="primary"></ion-icon>
      <ion-label color="primary">Cartera</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="movements">
      <ion-icon name="cash-outline" color="primary"></ion-icon>
      <ion-label color="primary">Movimientos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="config">
      <ion-icon name="settings-outline" color="primary"></ion-icon>
      <ion-label color="primary">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>