<ion-content>
  <div class="home-user">
    <ion-item lines="none" color="none" class="home-header">
      <ion-label style="font-weight: bold; color: #fff;">
        <h1>Bievenido</h1>
      </ion-label>
      <ion-badge color="danger">{{pendings.length}}</ion-badge>
      <ion-icon name="notifications" (click)="this.presentPopover($event)" slot="end" color="light"></ion-icon>
    </ion-item>
    <ion-card style="border-radius: 15px;">
      <ion-card-header style="padding: 3% 1%;">
        <ion-item lines="none" color="none">
          <ion-avatar slot="start" style="width: 18%; height: 18%;">
            <img src="{{this.user.user_photo}}">
          </ion-avatar>
          <ion-label>
            <h2>{{this.user.user_name}}</h2>
            <p style="font-size: 18px;">${{this.user.user_amount}}</p>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-chip color="success">
          <ion-icon name="arrow-up-outline"></ion-icon>
          <ion-label>${{user.user_incomes}}</ion-label>
        </ion-chip>
        <ion-chip color="danger">
          <ion-icon name="arrow-down-outline"></ion-icon>
          <ion-label>${{user.user_expenses}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-grid>
    <ion-item lines="none">
      <ion-label style="font-weight: bold;">Ultimos Movimientos</ion-label>
      <a [routerLink]="['/tabnav/movements']" style="text-decoration: none;">Ver mas</a>
    </ion-item>
    <ion-list style="background: none; padding: 0px;">
      <ion-card button *ngFor="let item of movements" (click)="showDeatail(item.income_id)">
        <ion-item button lines="full">
          <ion-label>
            <h2>{{item.income_data.income_name}}</h2>
            <p style="color: #ccc;">{{item.income_data.income_dateReceive}}</p>
          </ion-label>
          <ion-note  slot="end" color="success" style="font-size: 15px;">${{item.income_data.income_ammount}}</ion-note>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-grid>
</ion-content>
