.logo {
    margin: 0px auto;
}

ion-text h1 {
    text-align: center;
    font-size: 36px;
}

.img_logo{
    width: 100%;
}

ion-card-content {
    padding: 15px;
    p {
        text-align: justify;
        margin-bottom: 18px;
    }
}

.home-header {
    ion-badge {
        position: absolute;
        top: 3px;
        right: 15px;
        z-index: 100;
    }
}

.home-user {
    background: #24C278;
    padding-bottom: 3%;
}