.logo {
    margin: 0px auto;
}

ion-text h1 {
    text-align: center;
}

.img_logo{
    width: 100%;
}

ion-card-content {
    padding: 15px;
    p {
        text-align: justify;
        margin-bottom: 18px;
    }
}