<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <!-- <ion-col size="4" class="logo">
        <img class="img_logo" src="assets/default-img/NEO.png" alt="">
      </ion-col> -->
      <ion-col size="12">
        <ion-text>
          <h1 style="color: #be6bd3;">Mis Finanzas</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>LLeva el control de tus finanzas</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          Hola que tal, te saluda Neoshock, gracias por descargar mi aplicación espero que te sientas a gusto con la aplicación.
          <p>
            - Nota la aplicación no necesita de información detallada de tus cuentas bancarias y mucho menos tarjetas de crédito o débito, toda la información añadida a la aplicación como numero de cuentas, saldo bancario, correo y contraseñas no será proveída a terceros, use la aplicación bajo su responsabilidad.
          <p>
            - Si entraste a la versión alfa de esta aplicación déjame decirte que espero te pueda servir de ayuda, tal vez te encuentres con errores, espero puedas notificármelos, pronto se implementaran más funciones, gracias.
          <p>
            Dedicada a mi familia y principalmente a mi hermana ¡para que sepa en que anda gastando la plata!
        </p>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col size="12">
        <!-- <ion-button color="tertiary" expand="block">Mi cuenta</ion-button> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
