<ion-content>
  <div class="register-bg"></div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="options-buttons">
        <div class="register-links">
          <ion-button shape="round" color="secondary"  [routerLink]="['/started/login']">Ingresar</ion-button>
          <ion-button shape="round" color="primary">Registrarse</ion-button>
        </div>
      </ion-col>
      <ion-col size="12" class="register-form">
        <form [formGroup]="user_register" (ngSubmit)="registerNewUser()">
          <div class="inputs">
            <div class="input input-text">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-input placeholder="Correo" name="email" type="email" formControlName="email"></ion-input>
            </div>
            <div class="input input-text">
              <ion-icon name="key-outline" slot="start"></ion-icon>
              <ion-input placeholder="Contraseña" name="password" type="password" formControlName="password"></ion-input>
            </div>
            <div class="input input-text">
              <ion-icon name="key-outline" slot="start"></ion-icon>
              <ion-input placeholder="Comfirmar contraseña" name="password_repeat" type="password" formControlName="password_repeat"></ion-input>
            </div>
            <div class="input input-check">
              <ion-checkbox color="primary" formControlName="accept_terms"></ion-checkbox>
              <ion-label>Acepto los <a target="_blank" href="https://smallpdf.com/shared#st=9434babe-03dc-4709-88db-060a6bc574c3&fn=Finanzas+Politicas+de+Privacidad+-+2021.pdf&ct=1620185244648&tl=share-document&rf=link">términos y condiciones de uso</a></ion-label>
            </div>
          </div>
          <div class="buttons">
            <ion-button shape="round" type="submit" color="secondary" style="margin: 30px 0px;">Registrarse</ion-button>
          </div>
        </form>
      </ion-col>
      <ion-col class="text-info">
        <ion-text>
          <strong style="color: rgb(235, 145, 29);">Atención! </strong>Es nescesario tener una conexion a internet estable para proceder con el registro
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
