<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/tabnav/movements']">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis ingresos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-list class="income-list">
      <ion-item button *ngFor="let item of incomes" (click)="showDeatail(item.income_id)">
        <ion-label>
          <h2>{{item.income_data.income_name}}</h2>
          <p>{{item.income_data.income_dateReceive}}</p>
        </ion-label>
        <ion-note *ngIf="!item.income_data.income_status" slot="end" color="warning" style="font-size: 15px;">${{item.income_data.income_ammount}}</ion-note>
        <ion-note *ngIf="item.income_data.income_status" slot="end" color="success" style="font-size: 15px;">${{item.income_data.income_ammount}}</ion-note>
      </ion-item>
    </ion-list>
  </ion-grid>
  <ion-label class="label-info" *ngIf="incomes == null">
    <p>
      Aquí podrás registrar el dinero que entre a tus cuentas o directamente a tus manos, comienza agregando un registro de ingreso, presionando el botón de mas
    </p>
  </ion-label>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="presentModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
