.login-form {
    width: 100%;
    margin: 15px 0px;
    padding: 21px;

    .inputs {
        display: flex;
        margin: 21px auto;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #ccc;
        ion-icon {
            font-size: 27px;
            color: #aaa;
        }

        ion-input {
            font-size: 18px;
            margin-left: 6px;
        }
    }

    .btn-submit {
        height: 45px;
        margin-top: 45px;
        font-size: 21px;
    }
}

.options-buttons {
    width: 100%;
    margin-top: 60px;
    .register-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        ion-button {
            height: 42px;
            width: 36%;
            padding: 3px;
        }
    }
}

.forgot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .info-forgot {
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 21px;
    }
}

.other-login {
    display: flex;
    justify-content: center;
    
    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        ion-button {
            height: 45px;
            width: 93%;
            margin: 9px auto;
            ion-icon {
                font-size: 36px;
                margin-right: 3px;
            }
            p {
                font-size: 18px;
                font-weight: 300;
            }
        }
    }
}

.options-title {
    margin-top: 6px;
    .line {
        margin: 15px auto;
        border-bottom: 1px solid #ccc;
        width: 90%;
    }

    ion-label {
        position: relative;
        margin: 0px auto;
        color: #555;
        padding: 6px;
        bottom: 30px;
        left: 33%;
        background: #fff;
        font-size: 21px;
    }
}