form {
    display: contents;
}

.started-bg-one {
    position: relative;
    z-index: 1;
    top: -100px;
    left: -40px;
    width: 600px;
    height: 200px;
    background: rgb(230, 178, 225);
    transform: rotate(-15deg);
}

.started-bg-two {
    position: absolute;
    z-index: 0;
    top: -60px;
    width: 600px;
    height: 200px;
    background: rgb(102, 61, 98);
    transform: rotate(15deg);
}

.img-avatar {
    position: relative;
    top: -60px;
    margin: 0px auto;
    img {
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }
}