<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/started/']">
      <ion-button><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="margin: 0px; padding: 0px;">
    <ion-row>
      <ion-col size="12" style="margin: 0px; padding: 0px;">
        <div class="started-bg-one"></div>
        <div class="started-bg-two"></div>
      </ion-col>
      <ion-col size="4" class="img-avatar">
        <img width="100" height="100" src="https://png.pngtree.com/png-vector/20191026/ourlarge/pngtree-avatar-vector-icon-white-background-png-image_1870181.jpg" alt="">
      </ion-col>
      <form [formGroup]="user_login" (ngSubmit)="loginWithEmail()">
        <ion-col size="12" style="position: relative; top: -45px;">
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input placeholder="Correo" name="email" type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="key-outline" slot="start"></ion-icon>
            <ion-input placeholder="Contraseña" name="password" type="password" formControlName="password"></ion-input>
          </ion-item>
          <a href="" style="position: relative; left: 42%; top: 15px; text-decoration: none;">Has olvidado tu Contraseña</a>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block" shape="round" type="submit">Ingresar</ion-button>
        </ion-col>
      </form>
      <ion-col size="12" style="padding: 0px 15px; margin: 21px 0px;">
        <ion-text style="color: rgb(151, 151, 151);">No tienes una cuenta <a [routerLink]="['/started/register']">Create una</a></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
