<ion-content>
  <ion-grid style="margin: 0px; padding: 0px;">
    <ion-row>
      <ion-col size="12" class="options-buttons">
        <div class="register-links">
          <ion-button shape="round" color="primary">Ingresar</ion-button>
          <ion-button shape="round" color="secondary" [routerLink]="['/started/register']" >Registrarse</ion-button>
        </div>
      </ion-col>
        <ion-col size="12" class="login-form">
          <form [formGroup]="user_login" (ngSubmit)="loginWithEmail()">
            <div class="inputs">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-input placeholder="Correo" name="email" type="email" formControlName="email"></ion-input>
            </div>  
            <div class="inputs">
              <ion-icon name="key-outline" slot="start"></ion-icon>
              <ion-input placeholder="Contraseña" name="password" type="password" formControlName="password"></ion-input>
            </div>
            <ion-button class="btn-submit" expand="block" shape="round" type="submit">Ingresar</ion-button>
          </form>
        </ion-col>
        <ion-col size="12" class="forgot">
          <a class="info-forgot" (click)="presentAlertToReset()">Has olvidado tu Contraseña</a>
        </ion-col>
        <ion-col size="12" class="options-title">
          <div class="line"></div>
          <ion-label>Ingresar con</ion-label>
        </ion-col>
        <ion-col size="12" class="other-login">
          <div class="buttons">
            <ion-button class="google" shape="round" color="danger" (click)="loginGoogle()">
              <ion-icon name="logo-google"></ion-icon> <p>Google</p> 
            </ion-button>
            <ion-button class="facebook" shape="round" color="facebook" (click)="loginFacebook()">
              <ion-icon name="logo-facebook"></ion-icon> <p>Facebook</p> 
            </ion-button>
          </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
