.login-form {
    width: 100%;
    margin: 15px 0px;
    padding: 21px;

    .inputs {
        display: flex;
        margin: 21px auto;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #ccc;
        ion-icon {
            font-size: 27px;
            color: #aaa;
        }

        ion-input {
            font-size: 18px;
            margin-left: 6px;
        }
    }

    .btn-submit {
        height: 45px;
        margin-top: 45px;
        font-size: 21px;
    }
}

.options-buttons {
    width: 100%;
    margin-top: 60px;
    .register-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        ion-button {
            width: 36%;
            padding: 3px;
        }
        .active {
            color: #ddd;
        }
    }
}

.forgot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .info-forgot {
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 21px;
    }
}